<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Fast food</title>

    </head>

    <body>
        <h1 id="title">СДЕЛАЙТЕ ЗАКАЗ НАПРЯМУЮ ИЗ РЕСТОРАНА</h1>
        <div class="page">
            <nav class="sidebar">
                <ul class="menu">
                    <li><a href="" id="pizza">Пицца</a></li>
                    <li><a href="" id="">Шаурма</a></li>
                    <li><a href="" id="sandwiches">Сендвичи</a></li>
                    <li><a href="" id="burgers">Бургеры</a></li>
                    <li><a href="">Курица & Картофель</a></li>
                    <li><a href="">Тортилья & Салаты</a></li>
                    <li><a href="">Напитки & Десерты</a></li>
                </ul>
                <div class="basket">
                    <div class="basket__head">
                        <img id="basket__icon" src="icons/shoppingbasket_83998.png">
                        <p id="basket__name">Корзина</p>
                    </div>
                    <div class="basket__product">
                        <p>Название</p>
                        <p>Количество</p>
                    </div>
                    <div class="basket__product">
                        <p>Блин фирменный Spot</p>
                        <p>1</p>
                    </div>
                    <div class="basket__product">
                        <p>Сабвей клаб</p>
                        <p>1</p>
                    </div>
                    <div class="basket__order">
                        <div class="basket__total"><p>Итого: 0 руб.</p></div>
                        
                        <form>
                            <input class="basket__botton__order" type="submit" value="ОФОРМИТЬ ЗАКАЗ">
                        </form>
                    </div>
                </div>
            </nav>
            <article class="content">
                <%- include('./product_cart')%>
            </article>
        </div>
    </body>
    <script src="./scripts/counter.js"></script>
    <script src="./scripts/set_category.js"></script>
</html>