<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Fast food</title>

    </head>

    <body>
        <h1 id="title">СДЕЛАЙТЕ ЗАКАЗ НАПРЯМУЮ ИЗ РЕСТОРАНА</h1>
        <div class="page">
            <nav id="sidebar">
                <ul class="menu">
                    <li><a class = "category" id="pizza">Пицца</a></li>
                    <li><a class = "category" id="shaurma">Шаурма</a></li>
                    <li><a class = "category" id="sandwiches">Сендвичи</a></li>
                    <li><a class = "category" id="burgers">Бургеры</a></li>
                    <li><a class = "category" id="chicken">Курица & Картофель</a></li>
                    <li><a class = "category" id="salads">Тортилья & Салаты</a></li>
                    <li><a class = "category" id="drinks">Напитки & Десерты</a></li>
                </ul>
                
                <div id="basket">
                    <div id="basketHead">
                        <img id="basketIcon" src="i/shoppingbasket_83998.png">
                        <p id="basketName">Корзина</p>
                    </div>
                    <div id="basketTitle">
                        <p>Название</p>
                        <p>Количество</p>
                    </div>
                    <div class="basketOrder">
                        <div class="basketTotal"><p>Итого: 0 руб.</p></div>
                        
                        <form>
                            <input class="basketBottonOrder" type="submit" value="ОФОРМИТЬ ЗАКАЗ">
                        </form>
                    </div>
                </div>
            </nav>
            <div id="content">
                
            </div>
        </div>
    </body>
    <script src="./scripts/set_category.js"></script>
</html>