<div class="product">
    <img class="food__logo" src="icons/markets/subway_logo.png">
    <img class="food__picture" src="icons/hamburger.png">
    <p class="food__name">Бургер</p>
    <div class="food__line">
        <p class="food__structure">Соус и овощи на выбор</p>
    </div>
    <p class="food__price">Цена: 120 руб.</p>
    <p class="food__count">КОЛИЧЕСТВО</p>
    <form class="form__add__basket" id="addBasket" method="POST">
        <div class="food__counter">
            <input class="botton__minus" id="reduceQuantity" type="image" src="icons/minus.png">
            <input class="quantity" id="inputQuantity" type="text" value="1" maxlength="2">
            <input class="botton__plus" id="addQuantity" type="image" src="icons/plus.png">
        </div>
            <input class="botton__buy" type="submit" value="В КОРЗИНУ">
    </form>
</div>
